CREATE TABLE events (id UUID PRIMARY KEY DEFAULT uuid_generate_v4(), title VARCHAR(255) NOT NULL, description TEXT, date TIMESTAMP WITH TIME ZONE NOT NULL, location VARCHAR(255), image_url TEXT, attendees INTEGER DEFAULT 0, max_attendees INTEGER, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), updated_at TIMESTAMP WITH TIME ZONE DEFAULT NOW());
